@import "reset.css";

:root {
  /* --font-family: "Roboto", sans-serif; */
  --bg: #f8f9fa;
}

body {
  margin: 0 auto;

  /* font-family: var(--font-family); */
  background: var(--bg);
}

.container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

.container-main {
  grid-area: "main";
}

button {
  cursor: pointer;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  padding: 0;
  border: var(--borderModal);
  background: transparent;
  border-radius: 8px;
  overflow: hidden;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
