@import "reset.css";

:root {
  /* --font-family: "Roboto", sans-serif; */
  --bg: #f8f9fa;
}

body {
  margin: 0 auto;

  /* font-family: var(--font-family); */
  background: var(--bg);
}

.container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

.container-main {
  grid-area: "main";
}
